.user-card{
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 30%;
    margin: 5px;
  }
  .user-card img{
    width:40%;
  }